*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
.navbar{ 
    display: flex;
    align-items: center;
    background: #f9f9f9;
    justify-content: space-between;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    height: 60px;
  
 
}
.navbar_container_menu{
    display: flex;
    text-align: center;
}

.container_menu_item{
    list-style: none;
}

.container_menu_item:last-child{
    margin-right: 0;
}

.menu_link{
    color: #808080;
    margin-right: 1.25rem;
    text-decoration: none;
    
}

.activa{
    color: #333333;
    font-weight: bold;
   
}

.menu_link:hover{
    text-decoration: underline;
}

.banner, .about, .skills{
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    margin-top: 2rem;
    height: calc(100vh-60px);
}
.banner_container{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    line-height: 1.5;
}

.banner_titulo, .banner_subtitulo{
   
    text-align: center;
    font-weight: 900;
}
.banner_menu{
    display: flex;
}

.banner_menu_item{
    list-style: none;
}

.banner_img{
    border-radius: 10rem;
}

.about_descripcion{
   
    text-align: justify;
}


.skills__contenido {
    display: flex;
    flex-wrap:nowrap;
    padding: 1rem 0rem;
    
}

.skills__card {
    background: #fdfdfd;
    display: grid;
    grid-template-areas: 
        "card-imagem"
        "card-corpo";
    grid-template-columns: 100%;
    grid-template-rows: 173px auto;
    margin-right: 1rem;
    border: 1px solid #dcdcdc;
    width: calc(20% - 1rem);
}

.skills__card:last-child {
    margin-right: 0;
}

.skills__card___imagen {
    grid-area: card-imagem;
    height: 100%;
    width: 100%;
    display:grid;
    align-items: center;
    justify-content: center;
}

.skills__card___base {
    display: grid;
    grid-area: card-corpo;
    grid-row-gap: .5rem;
    grid-template-areas: 
        "card-header"
        "card-contenido";
    grid-template-rows: 50px auto;
    align-items: center;
    justify-items: center;
    padding: .75rem;
}



.skills__titulo {
    font-weight: 500;
}

