*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
.navbar{ 
    display: flex;
    align-items: center;
    background: #0333ad;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
}

.navbar_container_menu, .banner_menu{
    display: flex;
    text-align: center;
}

.container_menu_item, .banner_menu_item{
    list-style: none;
}

.container_menu_item, .banner_menu_item:last-child{
    margin-right: 0;
}

.menu_link{
    color: #f7eaea;
    margin-right: 1.25rem;
    text-decoration: none;
    
}

.activa{
    color: #131212;
    font-weight: bold;
   
}

.menu_link:hover{
    text-decoration: underline;
}

.banner, .about, .skills, .hobbies{
    width: 100%;
    background: #f5eded;
    height: 90vh;

}


.banner_container{
    display: flex;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    line-height: 2;
    align-items: center;
    
}


.banner_titulo{
    margin-top: 6rem;
    text-align: center;
    font-weight: 900;
}

.banner_titulo span{
    color:#fd1126
}

.banner_subtitulo{
    
    text-align: center;
    font-weight: 900;
}

.banner_texto{
    text-align: justify;
    padding: 2rem 8rem 4rem 2rem;
   
}
.about_titulo, .skills__titulo,.proyectos__titulo, .hobbies__titulo, .formacion__titulo, .contacto__titulo{
    background: #fd9d10;
    text-align: center;
    font-weight: 900;
    width: 100%;
}

.banner_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.banner_menu:hover{
    text-decoration:none;
}

.menu_link_banner{
    color: #0333ad;
    text-decoration: none;
    font-weight: 700;
    text-align:center;
    justify-content: center;
}

.download-cv {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    border: 2.5px solid #fd1126;
    margin-top: 10px;
    cursor: pointer;
    -webkit-box-shadow: 1px 3px 11px -5px rg#CF016D;
    -moz-box-shadow: 1px 3px 11px -5px #CF016D;
    box-shadow: 1px 3px 11px -5px #c99a8e;
  }


.banner__boton{
    padding: 10px 20px;
    border: 2.5px solid #fd9d10;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    align-content: center;
}

.banner_menu_item{
    list-style: none;
}

.banner_img{
    border-radius: 20rem;
    border: 2.5px solid #fd9d10;
}

.about_descripcion{
    color: #2e2d2d;
    
   
}


.formacion__descripcion{
    justify-content: center;
}
.formacion__card {
    background: #f6f7fb;
    display: grid;
    grid-template-areas: 
        "card-imagem"
        "card-corpo";
    grid-template-columns: 100%;
    grid-template-rows: 120px auto;
    margin-right: 1.5rem;
    border-radius: 8px;
    border: 2px solid #0333ad;
    width: calc(100% - 2rem);
    align-items: start;
    justify-items: center;
    box-shadow: 5px 5px 10px #b5b9b7, -5px -5px 15px #b5c5bc;
}

.formacion__card___base {
    display: grid;
    grid-area: card-corpo;
    grid-row-gap: .5rem;
    grid-template-areas:
        "card-header"
        "card-contenido";
    grid-template-rows: 30px auto;
    align-items: center;
    justify-items: center;
    padding: .5rem;
}

.formacion__card___header{
    text-align: center;
    align-content: center;
    justify-content: center;
}
    
.formacion__card___descripcion {
    color: #333333;
    margin: 1rem 0;
    text-align: justify;
}

.formacion__card___titulo{
    color: #0333ad;
    font-weight: 600;
}

.formacion__contenido{
    display: flex;
    flex-wrap:nowrap;
    padding: 10rem 2rem;
    background: #f5eded;
}
.formacion__card___data {
    color: #808080;
    font-size: .9rem;
}

.skills__contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  
}

.skills__card___descripcion{
    color: #fd1126;
    font-weight: 600;
    
}

.skills__info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 0rem 2rem 0rem;
}


.skills__card {
    display: flex;
    color: #2e2e31;
    background-color: #f6f7fb;
    border: 2px solid #fd1126;
    border-radius: 8px;
    width: 200px;
    margin: 15px;
    padding: -1px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px #b5b9b7, -5px -5px 15px #b5c5bc;
}



.skills__card___imagen{
    color:#fd1126;
   margin: 1em;
}

.skills__card___titulo{
    font-size: 1em;
    font-weight: 900;
    color:#fd1126;
   
   
}

.formacion__card___imagen{
    grid-area: card-imagem;
    height: 100%;
    width: 100%;
    display:grid;
    align-items: center;
    justify-content: center;
}

.proyecto{
    background: #f5eded;
    text-align: center;
   

}

.proyectos__contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}



.proyectos__info{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
    padding: 4rem 2rem 4rem 2rem;
   
}

.proyectos__card{
    color: #2e2e31;
    background-color: #f6f7fb;
    border: 2px solid #02B54F;
    border-radius: 8px;
    width: 300px;
    margin: 20px;
    padding: 15px;
    transition: 0.2s;
   justify-content: center;
   box-shadow: 5px 5px 10px #b5b9b7, -5px -5px 15px #b5c5bc;
}


.proyectos__card___imagen{
   width: 16em;
   margin: 1em;
}

.proyectos__card___imagen:before {
  content: "";
}
.proyectos__card___titulo{
    font-size: 1em;
    font-weight: 900;
    color:#02B54F;
   
}

.proyectos__card___buttom{
    padding: 5px 10px;
    border: 2.5px solid #02B54F;
    border-radius: 10px;
    margin-top: 8px;
    cursor: pointer;
}

.hobbies__contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  
}

.hobbies__info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem 2rem 2rem 2rem;
}

.hobbies__card {
    display: flex;
    color: #2e2e31;
    background-color: #f6f7fb;
    border: 2px solid #0333ad;
    border-radius: 8px;
    width: 250px;
    margin: 15px;
    padding: -1px;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px #b5b9b7, -5px -5px 15px #b5c5bc;
}


.hobbies__card___imagen{
  
   margin: 1em;
}

.hobbies__card___titulo{
    font-size: 1em;
    font-weight: 900;
    color:#0333ad;;
   
}

.contacto{
    display: flex;
    width: 100%;
    background: #f5eded;
    flex-direction: column;
    padding: 0rem 0rem 3rem 0rem;
  
}

.img-contacto {   
    display: flex;
    background: #f5eded;
    width: 100%;
    height: 100%;
    min-width: 340px;
    min-height: 400px;
    padding-top: 4rem;
}


.contacto-container {
    display: flex;
    width: 80%;
    align-items: center;
    flex-wrap: wrap; 
    justify-content: center;
    border-radius: 1em;
    margin: auto;
    min-width: 280px;
    max-width: 2000px;
}

.form {
    display: flex;
    min-width: 300px;
    max-width: 1000px;
    min-height: 350px;
    flex: 1;
    text-align: center; 
    padding: 1.8em;
    order: 2;
}

.form-container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.input {
    width: 100%; 
    padding: 0.2em;
    margin: 0.2em 0; 
    border: none;
    background: transparent;
    outline: none;
    color: #2e2e31;
    border-bottom: 2px solid #fd1126;
    font-size: 20px;
    max-width: 600px;
}

.input:focus {
    background: linear-gradient(to bottom, transparent, #b5c5bc);
    border-bottom: 2px solid #b5c5bc;
}

.form textarea {
    min-height: 100px;
    resize: none;
}

.form-img {
    flex: 1;  
    display: flex; 
    padding: 0.6em;
    min-width: 300px;
    max-height: 600px ;
}

.form-img div {
    padding: 1.3em;
}

.img-container {
    margin: auto;
}

.img-container div {
    border-radius:8px;
    border: 2px solid #fd1126;
    text-align: center;
    padding: 4.5em;
    box-shadow: 5px 5px 10px #b5b9b7, -5px -5px 15px #b5c5bc;
}

.form-img img {
    width: 100%;
}

input[type="submit"] {
    outline: none;
    background: #fd1126;
    cursor: pointer;
    border-bottom: none;
    padding: 0.5em;
}

input[type="submit"]:hover {
    border-bottom: none;
    background: #fd1126;
}

input[type="submit"]:active {
    border-bottom: none;
    background: linear-gradient(to bottom, #dd4a56, #b5c5bc);
}
/* VALIDACIÓN */
/* --form-ok-color:#02B54F;
   --form-error-color:#fd9d10; */
.input-error{
    margin-top: 1rem;
    font-size: 80%;
    background-color:#fd9d10; ;
    color: #fff;
    transition: all 800ms ease;
   
}

.form-error.is-active{
    display: block;
    animation: show-message 1s 1 normal 0s ease-out both;
}
.none{
    display: none;
}
.form__section[required]:valid{
    border: thin solid var(--form-Ok-color);
}

.form__section[required]:invalid{
    border: thin solid var(--form-error-color);
}
.footer-contet{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    padding: 2em;
    background:#02B54F;
    justify-content: center;
}
/* RESPONSIVE */

@media screen and (min-width: 0){
    
    .navbar{
        justify-content: center;
        padding: 0 1rem;
        height: 150px;
        
    }
    
    .navbar_container_menu{
        flex-direction: column;
    }
    .logo{
        display: none;
    }

    .banner{
        padding: 1rem 0rem;
    }
    .banner_titulo {
        margin-top: 2rem;
    }
    .banner_texto {
        text-align: justify;
       padding: 0;
       width: 20rem;
    }
    .banner_container{
        padding: 2.3rem 1rem 2rem
    }
    .banner_menu{
        flex-direction: column;
        padding: 0;
    }
    .banner_img{
        display: none;
    }
    
    .about_descripcion{
      
     font-size: 1.1em;
     text-align: justify;
     padding: 1rem 1rem 1rem 1rem;
     line-height: 1.3;
    }

    .formacion__contenido{
        flex-wrap: wrap;
        padding: 3rem 0rem 3rem 1rem;
        justify-content: center;
        grid-gap: 1.3rem;
    }
    .skills__card___imagen{
        display: none;
    }
    
    .skills__card___titulo {
        font-size: 1.5em;
    }
    .hobbies__card___imagen{
        display: none;
    }
     
    .hobbies__card___titulo {
        font-size: 1.6em;
      }
   }
@media screen and (min-width: 768px){

    .navbar{
        justify-content: space-between;
        padding: 0 1rem;
        height: 70px;
        
    }
    
   
    .navbar_container_menu{
        flex-direction: row;
    }
    .logo{
        display: block;
    }
    .banner_img{
        display: block;
    }
    .banner_menu{
       flex-direction: row;
       padding: 6rem 0rem 0rem 0rem;

    }
    .banner_texto{
        width: 36rem;
        padding: 4rem 0rem 0rem 0rem;
    }
    .about_descripcion{
        font-size: 1.4em;
        text-align: justify;
        padding: 6.5rem 3rem 0rem 3rem;
        line-height: 2;
    }
    
    .formacion__contenido{
        
        flex-wrap:nowrap;
       
    }
    .skills__card___imagen{
        display: block;
    }
    
    .skills__card___titulo {
        font-size: 1em;
    }
    .hobbies__card___imagen{
        display: block;
    }

    
    .hobbies__card___titulo {
      font-size: 1em;
    }
    .proyectos__info{
        padding: 4rem 0rem 4rem 0rem
    }
}