*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
.navbar{ 
    display: flex;
    align-items: center;
    background: #f9f9f9;
    justify-content: space-between;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    height: 60px;
  
 
}
.navbar_container_menu{
    display: flex;
    text-align: center;
}

.container_menu_item{
    list-style: none;
}

.container_menu_item:last-child{
    margin-right: 0;
}

.menu_link{
    color: #808080;
    margin-right: 1.25rem;
    text-decoration: none;
    
}

.activa{
    color: #333333;
    font-weight: bold;
   
}

.menu_link:hover{
    text-decoration: underline;
}

.banner, .about{
    height: 300px;
    padding: 2rem;
    margin-top: 2rem;
    height: calc(100vh-60px);
}
.banner_container{

    display: flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    line-height: 2;
}

.banner_titulo, .banner_subtitulo,.about_titulo, .skills__titulo, .hobbies__titulo{
   
    text-align: center;
    font-weight: 900;
}
.banner_menu{
    display: flex;
}

.banner_menu_item{
    list-style: none;
}

.banner_img{
    border-radius: 10rem;
    border: 1px solid #dcdcdc;
}

.about_descripcion{
   
    text-align: justify;
    margin-top: 2rem;
    line-height: 2;
    padding: 2rem;
}


.skills__contenido{
    display: flex;
    flex-wrap:nowrap;
    padding: 4rem 2rem;
    grid-gap: 0.75rem;
    
    
}

.skills__card{
    background: #fdfdfd;
    display: grid;
    grid-template-areas: 
        "card-imagem"
        "card-corpo";
    grid-template-columns: 100%;
    grid-template-rows: 150px auto;
    margin-right: 1rem;
    border: 1px solid #dcdcdc;
    width: calc(100% - 2rem);
    
}

.skills__card, .hobbies__card:last-child {
    margin-right: 0;
}

.skills__card___imagen {
    grid-area: card-imagem;
    height: 100%;
    width: 100%;
    display:grid;
    align-items: center;
    justify-content: center;
}

.skills__card___base, .hobbies__card___base {
    display: grid;
    grid-area: card-corpo;
    grid-row-gap: .5rem;
    grid-template-areas: 
        "card-header"
        "card-contenido";
    grid-template-rows: 30px auto;
    align-items: center;
    justify-items: center;
    padding: .5rem;
}



.skills__titulo {
    font-weight: 500;
}

.hobbies__contenido {
    display: flex;
    flex-wrap:nowrap;
    padding: 4rem 2rem;
  
}
.hobbies__card {
    background: #fdfdfd;
    display: grid;
    grid-template-areas: 
        "card-imagem"
        "card-corpo";
    grid-template-columns: 100%;
    grid-template-rows: 110px auto;
    margin-right: 1rem;
    border: 1px solid #dcdcdc;
    width: calc(100% - 2rem);
    align-items: center;
    justify-items: center;
    }